<a href="https://colab.research.google.com/github/roxacarv/edulearn/blob/main/Edulearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Análise Exploratória dos Dados

## Censo 2019 - Cursos

In [3]:
import pandas as pd
df = pd.read_csv('sup_curso_219.csv', sep='|', encoding='latin-1', usecols= [1,2,3,5,9,20,21,22,23,24,25,26,27,28,29,30,31,32])
df

       CO_IES  ...  IN_RECURSOS_INFORMATICA
0           1  ...                      0.0
1           1  ...                      NaN
2           1  ...                      NaN
3           1  ...                      1.0
4           1  ...                      0.0
...       ...  ...                      ...
40704   23713  ...                      NaN
40705   23725  ...                      NaN
40706   23867  ...                      1.0
40707   24462  ...                      NaN
40708   24672  ...                      1.0

[40709 rows x 18 columns]