<a href="https://colab.research.google.com/github/roxacarv/edulearn/blob/main/regress%C3%A3o_linear/regress%C3%A3o_edulearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando as bibliotecas

In [98]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

# Importando a base de dados que ir√° alimentar o modelo

In [100]:
df_2011 = pd.read_csv('https://raw.githubusercontent.com/roxacarv/edulearn/main/dados/alunodeficiente_2011.csv')
df_2011['NU_ANO_CENSO'] = 2011
df_2011['QNT_DE_ALUNOS'] = df_2011.shape[0]
corr = df_2011.corr()
#plot = sn.heatmap(corr, annot = True, fmt=".1f", linewidths=.6)
#plot
corr

                                 CO_IES  ...  QNT_DE_ALUNOS
CO_IES                         1.000000  ...            NaN
CO_CATEGORIA_ADMINISTRATIVA    0.005590  ...            NaN
CO_ORGANIZACAO_ACADEMICA       0.560166  ...            NaN
CO_CURSO                       0.104082  ...            NaN
CO_GRAU_ACADEMICO              0.179367  ...            NaN
...                                 ...  ...            ...
IN_INGRESSO_PROCESSO_SELETIVO -0.009690  ...            NaN
IN_INGRESSO_OUTRAS_FORMAS      0.002230  ...            NaN
ANO_INGRESSO                   0.049276  ...            NaN
NU_ANO_CENSO                        NaN  ...            NaN
QNT_DE_ALUNOS                       NaN  ...            NaN

[86 rows x 86 columns]

In [79]:
df_2012 = pd.read_csv('https://raw.githubusercontent.com/roxacarv/edulearn/main/dados/alunodeficiente_2012.csv')
df_2012['NU_ANO_CENSO'] = 2012
#df_2012['QNT_DE_ALUNOS'] = 1
df_2012 = df_2012.drop(['CO_ALUNO'], axis=1)

In [80]:
df_2013 = pd.read_csv('https://raw.githubusercontent.com/roxacarv/edulearn/main/dados/alunodeficiente_2013.csv')
df_2013['NU_ANO_CENSO'] = 2013
df_2013['QNT_DE_ALUNOS'] = 1
df_2013 = df_2013.drop(['CO_ALUNO'], axis=1)

In [81]:
df_2014 = pd.read_csv('https://raw.githubusercontent.com/roxacarv/edulearn/main/dados/alunodeficiente_2014.csv')
df_2014['NU_ANO_CENSO'] = 2014
df_2014['QNT_DE_ALUNOS'] = 1
df_2014 = df_2014.drop(['CO_ALUNO'], axis=1)

In [82]:
df_2015 = pd.read_csv('https://raw.githubusercontent.com/roxacarv/edulearn/main/dados/alunodeficiente_2015.csv')
df_2015['NU_ANO_CENSO'] = 2015
df_2015['QNT_DE_ALUNOS'] = 1
df_2015 = df_2015.drop(['CO_ALUNO'], axis=1)

In [83]:
df_2016 = pd.read_csv('https://raw.githubusercontent.com/roxacarv/edulearn/main/dados/alunodeficiente_2016.csv')
df_2016['NU_ANO_CENSO'] = 2016
df_2016['QNT_DE_ALUNOS'] = 1
df_2016 = df_2016.drop(['CO_ALUNO'], axis=1)

In [84]:
df_2017 = pd.read_csv('https://raw.githubusercontent.com/roxacarv/edulearn/main/dados/alunodeficiente_2017.csv')
df_2017['NU_ANO_CENSO'] = 2017
df_2017['QNT_DE_ALUNOS'] = 1
df_2017 = df_2017.drop(['CO_ALUNO'], axis=1)

In [85]:
df_2018 = pd.read_csv('https://raw.githubusercontent.com/roxacarv/edulearn/main/dados/alunodeficiente_2018.csv')
df_2018['NU_ANO_CENSO'] = 2018
df_2018['QNT_DE_ALUNOS'] = 1
df_2018 = df_2018.drop(['ID_ALUNO'], axis=1)

In [86]:
df_2019 = pd.read_csv('https://raw.githubusercontent.com/roxacarv/edulearn/main/dados/alunodeficiente_2019.csv')
df_2019['NU_ANO_CENSO'] = 2019
#df_2019['QNT_DE_ALUNOS'] = 1
df_2019 = df_2019.drop(['ID_ALUNO'], axis=1)

In [89]:
lista_dfs = [df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019]
df_regressao = pd.concat(lista_dfs)
df_alunos_anos = df_regressao.groupby('NU_ANO_CENSO').sum().reset_index()
df_alunos_anos
df_regressao

       NU_ANO_CENSO  QNT_DE_ALUNOS
0              2011              1
1              2011              1
2              2011              1
3              2011              1
4              2011              1
...             ...            ...
66745          2019              1
66746          2019              1
66747          2019              1
66748          2019              1
66749          2019              1

[426859 rows x 2 columns]

In [88]:
df_alunos_anos.corr()

               NU_ANO_CENSO  QNT_DE_ALUNOS
NU_ANO_CENSO       1.000000       0.980365
QNT_DE_ALUNOS      0.980365       1.000000

Checando se existe uma grande correla√ß√£o entre as variaveis

# Inicio do ML

In [67]:
modelo = LinearRegression()

In [77]:
x = df_alunos_anos['NU_ANO_CENSO']
y = df_alunos_anos['QNT_DE_ALUNOS']
df_regressao.columns

Index(['NU_ANO_CENSO', 'QNT_DE_ALUNOS'], dtype='object')

In [69]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1482)

In [74]:
modelo.fit(x_train, y_train)

ValueError: ignored

# teste

In [103]:
df_aluno_2019 = pd.read_csv('https://raw.githubusercontent.com/roxacarv/edulearn/main/dados/alunodeficiente_2019.csv', encoding='latin-1', usecols=['NU_ANO_CENSO','CO_CURSO','CO_IES','TP_COR_RACA','TP_SEXO','NU_ANO_NASCIMENTO','CO_PAIS_ORIGEM','TP_SITUACAO','IN_MATRICULA','IN_CONCLUINTE','IN_DEFICIENCIA','IN_DEFICIENCIA_AUDITIVA','IN_DEFICIENCIA_FISICA','IN_DEFICIENCIA_INTELECTUAL','IN_DEFICIENCIA_MULTIPLA','IN_DEFICIENCIA_SURDEZ','IN_DEFICIENCIA_SURDOCEGUEIRA','IN_DEFICIENCIA_BAIXA_VISAO','IN_DEFICIENCIA_CEGUEIRA','IN_DEFICIENCIA_SUPERDOTACAO','IN_TGD_AUTISMO','IN_TGD_SINDROME_ASPERGER','IN_TGD_SINDROME_RETT','IN_TGD_TRANSTOR_DESINTEGRATIVO','IN_RESERVA_DEFICIENCIA'])
df_aluno_2019 = df_aluno_2019.loc[df_aluno_2019['TP_SITUACAO'] == 2]
df_curso_2019 = pd.read_csv('https://raw.githubusercontent.com/roxacarv/edulearn/main/dados/SUP_CURSO_2019.CSV', sep='|', encoding='latin-1', usecols=['NU_ANO_CENSO','CO_IES','CO_UF','CO_MUNICIPIO','CO_CURSO','NO_CURSO','CO_CINE_ROTULO','TP_SITUACAO','TP_GRAU_ACADEMICO','TP_MODALIDADE_ENSINO','IN_AJUDA_DEFICIENTE','IN_MATERIAL_DIGITAL','IN_MATERIAL_AMPLIADO','IN_MATERIAL_TATIL','IN_MATERIAL_IMPRESSO','IN_MATERIAL_AUDIO','IN_MATERIAL_BRAILLE','IN_MATERIAL_LIBRAS','IN_DISCIPLINA_LIBRAS','IN_TRADUTOR_LIBRAS','IN_GUIA_INTERPRETE','IN_RECURSOS_COMUNICACAO','IN_RECURSOS_INFORMATICA','QT_MATRICULA_TOTAL','QT_CONCLUINTE_TOTAL'])

df = pd.merge(df_aluno_2019, df_curso_2019, how='inner', on='CO_CURSO')
df.columns

Index(['NU_ANO_CENSO_x', 'CO_IES_x', 'CO_CURSO', 'TP_COR_RACA', 'TP_SEXO',
       'NU_ANO_NASCIMENTO', 'CO_PAIS_ORIGEM', 'IN_DEFICIENCIA',
       'IN_DEFICIENCIA_AUDITIVA', 'IN_DEFICIENCIA_FISICA',
       'IN_DEFICIENCIA_INTELECTUAL', 'IN_DEFICIENCIA_MULTIPLA',
       'IN_DEFICIENCIA_SURDEZ', 'IN_DEFICIENCIA_SURDOCEGUEIRA',
       'IN_DEFICIENCIA_BAIXA_VISAO', 'IN_DEFICIENCIA_CEGUEIRA',
       'IN_DEFICIENCIA_SUPERDOTACAO', 'IN_TGD_AUTISMO',
       'IN_TGD_SINDROME_ASPERGER', 'IN_TGD_SINDROME_RETT',
       'IN_TGD_TRANSTOR_DESINTEGRATIVO', 'TP_SITUACAO_x',
       'IN_RESERVA_DEFICIENCIA', 'IN_MATRICULA', 'IN_CONCLUINTE',
       'NU_ANO_CENSO_y', 'CO_IES_y', 'CO_UF', 'CO_MUNICIPIO', 'NO_CURSO',
       'TP_SITUACAO_y', 'CO_CINE_ROTULO', 'TP_GRAU_ACADEMICO',
       'TP_MODALIDADE_ENSINO', 'IN_AJUDA_DEFICIENTE', 'IN_MATERIAL_DIGITAL',
       'IN_MATERIAL_AMPLIADO', 'IN_MATERIAL_TATIL', 'IN_MATERIAL_IMPRESSO',
       'IN_MATERIAL_AUDIO', 'IN_MATERIAL_BRAILLE', 'IN_MATERIAL_LIBRAS',
       'IN_DISCIPLINA_LIBRAS', 'IN_TRADUTOR_LIBRAS', 'IN_GUIA_INTERPRETE',
       'IN_RECURSOS_COMUNICACAO', 'IN_RECURSOS_INFORMATICA',
       'QT_MATRICULA_TOTAL', 'QT_CONCLUINTE_TOTAL'],
      dtype='object')